<phpunit bootstrap="./vendor/autoload.php" colors="true">
  <testsuites>
    <testsuite name="Fig\\Link Tests">
      <directory>./test</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
</phpunit>
